<div class="slider-base">
  <div class="base">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner  ">
        <div class="carousel-item active">
          <img src="../../../../assets/images/4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="../../../../assets/images/4.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/4.jpg" class="d-block w-100 " alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="prag container">
    <!-- <div class="d-flex justify-items-center flex-column"> -->
    <h1><span class="span">Compiler</span> Community</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deleniti quis consectetur adipisicing </p>
    <button type="button" class="btn btn-outline-light">About Us</button>

    <!-- </div> -->
  </div>
</div>
