
.mb-4{
  margin-top: 7rem !important;
}
.review-container{
  // display: grid;
  // grid-template-columns:repeat(auto-fit,minmax(500px,auto));
  margin-top: 4rem;
  align-items: center;
  // gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

 }
 .review-img span{
     align-items: left;
 }
 .review-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

 .review-img{
     width: 60px;
     height: 60px;
 }
 .review-img img{
  width: 100%;
  height: 100%;
  border-radius: 60%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--main-color);
}
.review-container .box  {
  // display: grid;
  padding:  40px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: -11px 14px 21px rgb(0 0 0 / 13%);
  border-radius: .5rem;
  margin: 12px 0;
}
.review-container .box {
text-align: initial;
}
.review-container .box h2{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  margin: .2rem 0 .5rem;
}
.review-container .box .star.bx{
  color:var(--main-color);
}
.box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
.star{
  color: yellowgreen;
}
@media (max-width: 991.98px) {
  .container{
      width: 100% !important;
  }
}

 .icon{
  width: 20%;
  float: left;
}

.icon{
  width: 70px;
  border-radius: 50%;
  background-color: #fd3d6b;
  margin-top: 10px;
}
.icon img{
  padding: 17px 11px;
  transition: all .3s ease 0s;
  cursor: pointer;
}
.icon img:hover{
  transform: scale(0.8,0.8);
}
